<h1>Login</h1>

<% if @errors %>
  <span><%= @errors %></span>
<% end %>
<form action="/login" method="post">
    <form action ="/login" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email" />
      <br>

      <label for="password">Password:</label>
      <input type="password" name="password" />
      <br>
  <input type="submit" value="Login">
</form>
