
<form method="post" action="/youtube">
  <label for="video-link">Link:</label>
  <input class="youtube-link" name="video-link" type="text">

  <input type="submit" value="Load Video">
</form>

    <script src="/js/youtube_util.js"></script>
    <div id="player"></div>
    