<script src="/js/youtube_util_existing.js"></script>

<!-- https://www.youtube.com/watch?v=gnXTBIkVNLI -->

<% if @video == nil %>
<form method="post" action="/youtube">
  <label for="video-link">Link:</label>
  <input class="youtube-link" name="video-link" type="text">

  <input type="submit" value="Load Video">
</form>
<% else %>
  <span class="youtube-link"><%=@video.link %></span>
  <h3><%=@video.title %></h3>
  <div id="player"></div>
<% end %>




<div class="notetaker">
  <h3>Note:</h3>

  <form id = "note-form" method="post" action="/youtube/<%=@video.id%>">
    <textarea rows=10 cols= 80 name="note[body]"></textarea>
    <br>
    <button id="video-timestamp" type="button">TimeStamp</button>
    <input id="video-timestamp-return" type="text" name="note[time]">
    <input type="submit" class="button">
  </form>
</div>

<div class="existing_notes">
  <ul class="note_list">
    <% if current_user %>
    <% @notes.each do |note| %>
      <%= erb :'/youtube/_note_show', locals: {note: note} %>
    <% end %>
    <% end %>
  </ul>
</div>

<div id="player"></div>
