<section class ="jumbotron">
  <div class = "container">
    <div id='animation'><p>Welcome to TimeStamp</p>
    <% if !session[:user_id] %>
      <p> You are not logged in</p></div>
    <% else %>
    <div class = 'video'>
      <iframe width="920" height="620"
        src="https://www.youtube.com/embed/XoNbmWWEk1A">
      </iframe>
    </div>
    <% end %>

  </div>
</section>
